<section id="logo-area">
          <img src="img/logo.png" alt="Logotipo muito top" title="Logo">
          <hgroup>
               <h1>Rolê Top</h1>
               <h2>o rolE mais top da sua vida!</h2>
          </hgroup>
     </section>