@model project_RoleTopMVC.ViewModels.RespostaViewModel
<main>
     <h2>
          @ViewData["Action"] não tá feito, tu é burro men?
     </h2>
          <p>
          @Model.Mensagem
          </p>
</main>