<main>
     <h2>Faça o evento mais top do ano!</h2>
     <form method="POST" action='@Url.Action("Login", "Cliente")'>

          <div>
               <label for="email">Email</label>
               <br />
               <input type="email" id="email" name="email" required>
          </div>

          <div>
               <label for="senha">Senha
               <br />
               <input type="password" id="senha" name="senha" required>
               </label>
          </div>

          <input type="submit" value="Entrar">

          <div id="link-cadastro">
               <a  href='@Url.Action("Index", "Cadastro")'>Não tem Login? Quero me cadastrar.</a>
          </div>
     </form>
</main>