<main>
     <h2>Faça o evento mais top do ano!</h2>
     <form method="GET" action="agendamento.html">

          <div>
               <label for="email">Email</label>
               <br />
               <input type="email" id="email" required>
          </div>

          <div>
               <label for="senha">Senha
               <br />
               <input type="password" id="senha" required>
               </label>
          </div>

          <input type="submit" value="Entrar">
     </form>
</main>