@model project_RoleTopMVC.ViewModels.DashboardViewModel
<main>
     <h2>Dashboard</h2>

     <section id="status-agendamentos">
          <h3>Status dos Eventos</h3>
          <div id="painel">
               <div class="box-status-solicitacoes aprovados">
                    <h4>Aprovados</h4>
                    <p>@Model.AgendamentosAprovados</p>
               </div>

               <div class="box-status-solicitacoes pendentes">
                    <h4>Pendentes</h4>
                    <p>@Model.AgendamentosPendentes</p>
               </div>

               <div class="box-status-solicitacoes reprovados">
                    <h4>Reprovados</h4>
                    <p>@Model.AgendamentosRecusados</p>
               </div>
          </div>
     </section>

     <section id="lista-solicitacoes">
          <h3>Lista de Solicitações</h3>
          <table>
               <thead>
                    <tr>
                         <th>Nome</th>
                         <th>Tema do Evento</th>
                         <th>Dia e Hora</th>
                         <th>Tipo do Evento</th>
                         <th>Serviços</th>
                         <th colspan="2" rowspan="2">Aprovar</th>
                    </tr>
                    
               </thead>
               <tfoot>
                    <tr>
                         <td colspan="7">
                              <p>Pedidos atualizados em 12/12/2012 às @DateTime.Now</p>
                         </td>
                    </tr>
               </tfoot>

               <tbody>
                         @foreach (var agendamento in Model.Agendamentos)
                         {
                              <tr>
                                   <td></td>
                              </tr>
                         }
               </tbody>
          </table>
     </section>

</main>