<main>
     <h2>Dashboard</h2>

     <section id="status-agendamentos">
          <h3>Status dos Eventos</h3>
          <div id="painel">
               <div class="box-status-solicitacoes aprovados">
                    <h4>Aprovados</h4>
                    <p>7</p>
               </div>

               <div class="box-status-solicitacoes pendentes">
                    <h4>Pendentes</h4>
                    <p>7</p>
               </div>

               <div class="box-status-solicitacoes reprovados">
                    <h4>Reprovados</h4>
                    <p>7</p>
               </div>
          </div>
     </section>

     <section id="lista-solicitacoes">
          <h3>Lista de Solicitações</h3>
          <table>
               <thead>
                    <tr>
                         <th>Nome</th>
                         <th>Tema do Evento</th>
                         <th>Dia e Hora</th>
                         <th>Tipo do Evento</th>
                         <th>Serviços</th>
                         <th colspan="2" rowspan="2">Aprovar</th>
                    </tr>
                    
               </thead>
               <tfoot>
                    <tr>
                         <td colspan="7">
                              <p>Pedidos atualizados em 12/12/2012 às 3:07</p>
                         </td>
                    </tr>
               </tfoot>

               <tbody>
                    <tr>
                         <td>Megan Fox</td>
                         <td>Casamento</td>
                         <td>11/05/2020 19:00</td>
                         <td>Privado</td>
                         <td>Som</td>
                         <td><a href="#"><i class="fas fa-check"></i></a></td>
                         <td><a href="#"><i class="fas fa-times"></i></a></td>
                    </tr>
                    <tr>
                         <td>Madame Villa Lobos</td>
                         <td>Show</td>
                         <td>12/09/2019 14:00</td>
                         <td>Público</td>
                         <td>Iluminação</td>
                         <td><a href="#"><i class="fas fa-check"></i></a></td>
                         <td><a href="#"><i class="fas fa-times"></i></a></td>
                    </tr>
               </tbody>
          </table>
     </section>

</main>